/* ----------------DEFAULT SETUP--------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html {
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------------REUSABLE---------------- */

.row{
    width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.clearfix{
    clear: both;
}

.btn{
    background-color: #a8a6a1;
    padding: 25px 35px;
    border-color: #a8a6a1;
    font-size: 18px;
}

/* --------------HEADER--------------- */

.header{
    background-image: linear-gradient(45deg, rgba(23,24,25,0.2), rgba(49,41,45,0.2)), url(../img/Texture_15_066-copy.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.header-title{
    width: 25%;
    float: left;
}

.header-nav{
    width: 50%;
    float: left;
}

.header-actions{
    width: 25%;
    float: left;
}

.header-title-text{
    margin: 30px 60px;
}

.header-title-text a{
    font-size: 32px;
    font-weight: 400;
}

.socials{
    margin-left: 40%;
    margin-top: 40px;
}

.main-nav{
    margin-left: 25%;
    margin-top: 40px;
}

.main-nav li{
    margin-left: 20px;
}

.socials li{
    margin-right: 30px;
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 1140px;
}

.heading-main-box h1{
    font-size: 60px;
    color: whitesmoke;
    text-align: center;
    font-weight: 400;
}

.heading-main-box .btn{
    margin-left: 43%;
}

.heading-main-box .btn:hover{
    margin-left: 43%;
    opacity: 0.8;
}

.sticky{
    /* background-color: black; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

#story{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 4px;
}

/* --------------SECTION CONTENT----------------- */

.section-content{
    background-color: #38383b;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
    color: whitesmoke;
}

.p-header{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    line-height: 150%;
}

.img-content{
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
}

.p-caption{
    margin-left: 15%;
    font-size: 14px;
    margin-top: 25px;
    word-spacing: 1px;
    line-height: 170%;
}

.content{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

.content p{
    text-align: justify;
    font-size: 16px;
    line-height: 180%;
}

/* --------------SECTION-END------------------- */

.section-end{
    background-color: #38383b;
    padding-top: 3vmax;
    padding-bottom: 5vmax;
}

.box-end h4{
    font-size: 30px;
    color: white;
    font-weight: 100;
    margin-bottom: 25px;
}

.box-end h5{
    font-size: 18px;
    color: white;
    font-weight: 100;
    margin-bottom: 25px;
}

.box-end h5 a{
    color: rgb(161, 153, 153);
    border-bottom: 1px solid rgb(161, 153, 153);
}

.socials-end li{
    margin-right: 14px;
}

.socials-end li a i:hover,
.socials-end li a i:active{
    color: rgb(168, 154, 154);
}

.nav-end-1, .nav-end-2{
    margin-left: 35%;
    margin-top: 8px;
}

.nav-end-1 li a, .nav-end-2 li a{
    color: rgb(184, 165, 165);
    font-size: 17px;
    border-bottom: 1px solid rgb(160, 146, 146);
}

.nav-end-1 li{
    margin-right: 130px;
}

.nav-end-2 li{
    margin-right: 93px;
}